#imagewall-table table {
  padding: 0px;
  margin: 0px;
}
#imagewall-table td {
  padding: 0px;
}
#imagewall-canvas {
  width: 800px;
  height: 800px;
  border-style: dashed;
  border-color: #FF0000;
  border-width: 1px;
}
#imagewall-canvas-canvas {
  width: 200px;
  opacity: 0.7;
  height: 800px;
  border-style: dashed;
  border-color: #FF0000;
  background-color: #FFFFFF;
  border-width: 0px;
  border-left-width: 1px;
  float: right;
}
#imagewall-box {
  width: 120px;
  height: 200px;
  border-color: #AAAAFF;
  border-style: solid;
  border-width: 1px;
}
.imagewall-canvas-container {
  width: 150px;
  height: 50px;
  padding: 1px;
  border-style: solid;
  border-color: #888888;
  background-color: #FFFFFF;
  opacity: 0.9;
  border-width: 1px;
  position: absolute;
  float: left;
}

.imagewall-box-container {
  opacity: 0.9;
  padding: 1px;
  padding-bottom: 0px;
  width: 100%;
  height: 15px;
  font-size: 9px;
  position: relative;
  float: left;
}

.imagewall-canvas-object {
  width: 80px;
  height: 12px;
  padding: 1px;
  cursor: move;
  border-style: solid;
  border-color: #EEEEEE;
  border-width: 1px;
  position: absolute;
  float: left;
  font-size: 12px;
}
.imagewall-canvas-hover {
  background-color: #FFEEEE;
}
.imagewall-box-hover {
  background-color: #DDDDFF;
}
.imagewall-ui-resizable-e {
  border-right: 1px solid rgb(222, 222, 222);
  background: rgb(242, 242, 242) none repeat scroll 0% 0%;
  overflow: hidden;
  right: 0pt;
  height: 100%;
  position: absolute;
  cursor: e-resize;
  width: 4px;
  top: 0px;
  bottom: 0px;
  -moz-background-clip: -moz-initial;
  -moz-background-origin: -moz-initial;
  -moz-background-inline-policy: -moz-initial;
  font-size: 0.1px;
  -moz-user-select: none;
}
.imagewall-ui-resizable-s {
  border-bottom: 1px solid rgb(222, 222, 222); background: rgb(242, 242, 242) none repeat scroll 0% 0%; overflow: hidden; bottom: 0pt; width: 100%; position: absolute; cursor: s-resize; height: 4px; left: 0px; right: 0px; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; font-size: 0.1px; -moz-user-select: none;
}

.ui-resizable-se, .imagewall-ui-resizable-se {
  border-right: 1px solid rgb(222, 222, 222);
  border-bottom: 1px solid rgb(222, 222, 222);
  background: rgb(242, 142, 142) none repeat scroll 0% 0%;
  overflow: hidden;
  bottom: 0pt;
  right: 0px;
  position: absolute;
  z-index: 1001;
  cursor: se-resize;
  width: 6px;
  height: 6px;
  -moz-background-clip: -moz-initial;
  -moz-background-origin: -moz-initial;
  -moz-background-inline-policy: -moz-initial;
  font-size: 0.1px;
  -moz-user-select: none;
}
.imagewall-container-drag-handle {
  background-color: #FFDD99;
  line-height: 15px;
  text-indent: 10px;
  height: 15px;
  cursor: move;
}

.ui-selecting { background: #FECA40; }
.ui-selected { background: #F39814; color: white; }

.imagewall-throbbing {
  background: url(images/status-active.gif) no-repeat right center;
  padding-right: 18px;
}
#imagewall-log-wrapper {
  float: left;
}
#imagewall_submit {
  margin-top: 12px;
  margin-left: 10px;
}
#imagewall_submit {
  margin-top: 12px;
  margin-left: 10px;
  float: left;
}
#imagewall-submit-loading {
  
}
#imagewall-revisions {
  font-size: 11px;
}
#imagewall-selected-items {
  list-style-image: none;
  list-style-type: none;
}
#imagewall-selected-items li {
  background: none;
  padding: 2px;
  font-size: 11px;
  margin-left: 0px;
  background-color: #FFDD99;
  margin-bottom: 2px;
}
#imagewall-selected-items li select {
  font-size: 11px;
}
#imagewall-selected-items li input {
  font-size: 11px;
}
#imagewall-selected-items li span {
  font-size: 11px;
  display: block;
}
.imagewall-not-up-to-date {
  background: #FFDD99 url(images/warning.png) no-repeat left center;
}
